* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* featured*/
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.primary-color {
    color: #4E47FF;
}

.dark1 {
    color: #252432;
}

.dark2 {
    color: #000000;
}

.primary-bg {
    background-color: #4E47FF;
}

.btn {
    padding: 17px 40px;
    background-color: #4E47FF;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-style: 16px;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover {
    background: transparent;
    border: 1px solid #4E47FF;
    color: #252432;
}

.des {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Raleway", sans-serif;
}

/* header and banner styles */
header {
    background-image: url(../Assets/Hero-bg.png);
    height: 700px;
}

.content {
    max-width: 1140px;
    margin: 0px auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.navbar h2 {
    font-size: 34px;
    font-weight: bold;
}

.sign-up a {
    font-weight: bold;
    font-style: 16px;
    text-decoration: none;
}

/* banner */
body {
    background-color: #f5f8ff;
}

.banner {}

.banner-content {
    text-align: center;
    margin-top: 160px;
}

.banner-content h2 {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 50px;
}

.banner-content a {
    font-weight: bold;
    font-style: 16px;
    text-decoration: none;
    margin-top: 50px;
}

/* action syles */
main {
    max-width: 1140px;
    margin: 0px auto;

}

section {
    margin: 110px 0px;
}

.action-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-left-side h2 {
    font-size: 42px;
    font-weight: bold;
}

.action-left-side p {
    line-height: 32px;
    margin: 34px 0px;
}

.action-right-side img {
    border-radius: 50px;
    width: 100%;
}

/* productive user section styles */
.productive-user {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
}

.productive-title h2 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}

.productive-user-title {
    display: flex;
    justify-content: space-between;
}

.item h2 {
    font-size: 80px;
    font-weight: bold;
}

.item p {
    text-align: center;
}

/* user feedback styles */
.user-feedback-title h2 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
}

.user-feedback-items {
    background-color: #fff;
    padding: 24px;
    border-radius: 14px;
}

.feedbace-items-container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.user-content {
    margin: 24px 0px;
}

.user-content h3 {
    font-size: 30px;

}

.user-content p {
    color: #252432;
    font-weight: 300;
    margin-top: 8px;
}

.reviewr-name {
    display: flex;
    gap: 15px;
    align-items: center;
}

.reviewr-img img {
    border-radius: 50%;
}

.reviewr-title h5 {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.reviewr-title p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 5px;
}

/* ready and focus section styles */
.ready-focus-section {
    padding: 70px 150px;
    background-color: #fff;
    border-radius: 14px;
}

.ready-focus-cotnent {
    text-align: center;
}

.ready-focus-cotnent h2 {
    font-size: 50px;
}

.ready-focus-cotnent p {
    font-size: 18px;
    margin: 30px 0px;
}
.ready-focus-cotnent img {
    margin-top: 50px;
    border-radius: 48px;
}
/* get is touch styles */
.get-in-touch {

}
.get-in-touch-content {
display: flex;
justify-content: space-between;
align-items: center;
}
.get-in-touch-left {
    width: 65%;
}
.get-in-touch-right {
    width: 55%;
}
.get-in-touch-left h2 {
    font-size: 97px;
    font-weight: bold;
}
.get-in-touch label {
    margin: 10px 0px;
    display: block;
}
.get-touch input,textarea{
    display: block;
    padding: 20px 32px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}

.get-in-touch textarea, input::placeholder {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
}

form div {
    margin-bottom: 20px;
}
form a{
    margin-top: 15px;
    display: block;
    text-align: center;
}
input[type="submit"]{
    display: block;
    color: red;
    width: 100%;
    padding: 20px 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
}
.input-hover{
    transition: 0.3s;
}
.input-hover:hover {
    background: transparent;
    border: 1px solid #4E47FF;
    color: #252432;
}
/* footer section styles */
footer {
    background-color: #fff;
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-content h2{
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;
}
.footer-menu ul li {
    list-style: none;
}
.footer-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Raleway", sans-serif;
}